In [316]:
import pandas as pd
import numpy as np
import datetime as dt

In [317]:
csv_file = 'CampioneA.csv'
df = pd.read_csv(csv_file, sep=';')

In [318]:
date_locked = df['Date'][0]
isnan = df['Date'].isnull()

In [320]:
# to fill NaN (is unefficient)
for i in range(len(df)):
    if isnan[i] == True:
        df['Date'][i] = date_locked
    else:
        date_locked = df['Date'][i]

C:\Users\sicolonn\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [321]:
df['Date'] = pd.to_datetime(df['Date'])

In [322]:
df['Day'] = df['Date'].apply(lambda x: x.day)
df['Month'] = df['Date'].apply(lambda x: x.month)
df['Year'] = df['Date'].apply(lambda x: x.year)
df['Year'] = df['Date'].apply(lambda x: x.year)
df['Day_Name'] = df['Date'].apply(lambda x: x.day_name())
df

,Date,Time,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Day_Name
0,2015-05-05,0,14,5,2,3,3,5,5,2015,Tuesday
1,2015-05-05,1,5,5,1,3,2,5,5,2015,Tuesday
2,2015-05-05,2,2,3,0,2,2,5,5,2015,Tuesday
3,2015-05-05,3,2,3,0,2,2,5,5,2015,Tuesday
4,2015-05-05,4,2,3,0,2,2,5,5,2015,Tuesday
5,2015-05-05,5,2,2,0,2,2,5,5,2015,Tuesday
6,2015-05-05,6,9,5,1,5,4,5,5,2015,Tuesday
7,2015-05-05,7,16,7,2,4,4,5,5,2015,Tuesday
8,2015-05-05,8,17,8,2,2,2,5,5,2015,Tuesday
9,2015-05-05,9,23,8,3,2,2,5,5,2015,Tuesday
10,2015-05-05,10,19,10,2,3,3,5,5,2015,Tuesday
11,2015-05-05,11,24,11,3,2,2,5,5,2015,Tuesday
12,2015-05-05,12,8,10,1,2,2,5,5,2015,Tuesday
13,2015-05-05,13,17,9,2,3,3,5,5,2015,Tuesday
14,2015-05-05,14,30,7,4,4,3,5,5,2015,Tuesday
15,2015-05-05,15,30,11,4,4,3,5,5,2015,Tuesday
16,2015-05-05,16,30,9,4,3,3,5,5,2015,Tuesday
17,2015-05-05,17,36,11,4,2,2,5,5,2015,Tuesday
18,2015-05-05,18,33,13,4,10,9,5,5,2015,Tuesday
19,2015-05-05,19,44,14,5,11,10,5,5,2015,Tuesday
20,2015-05-05,20,34,12,4,9,8,5,5,2015,Tuesday
21,2015-05-05,21,30,7,4,7,7,5,5,2015,Tuesday
22,2015-05-05,22,40,4,5,8,8,5,5,2015,Tuesday
23,2015-05-05,23,23,3,3,5,5,5,5,2015,Tuesday
24,2015-06-05,0,14,4,2,3,3,5,6,2015,Friday
25,2015-06-05,1,9,4,1,3,3,5,6,2015,Friday
26,2015-06-05,2,5,2,1,3,3,5,6,2015,Friday
27,2015-06-05,3,3,2,0,2,2,5,6,2015,Friday
28,2015-06-05,4,2,2,0,2,2,5,6,2015,Friday
29,2015-06-05,5,2,3,0,3,3,5,6,2015,Friday
...,...,...,...,...,...,...,...,...,...,...,...
306,2015-05-17,18,29,14,3,13,13,17,5,2015,Sunday
307,2015-05-17,19,26,13,3,8,8,17,5,2015,Sunday
308,2015-05-17,20,40,9,5,5,5,17,5,2015,Sunday
309,2015-05-17,21,40,7,5,6,6,17,5,2015,Sunday
310,2015-05-17,22,21,8,3,4,4,17,5,2015,Sunday
311,2015-05-17,23,18,5,2,5,5,17,5,2015,Sunday
312,2015-05-18,0,18,4,2,4,4,18,5,2015,Monday
313,2015-05-18,1,10,2,1,2,2,18,5,2015,Monday
314,2015-05-18,2,6,2,1,4,4,18,5,2015,Monday
315,2015-05-18,3,3,2,0,3,3,18,5,2015,Monday
316,2015-05-18,4,4,2,0,2,2,18,5,2015,Monday
317,2015-05-18,5,7,5,1,3,3,18,5,2015,Monday
318,2015-05-18,6,12,9,1,4,4,18,5,2015,Monday
319,2015-05-18,7,18,11,2,4,4,18,5,2015,Monday
320,2015-05-18,8,10,16,1,4,4,18,5,2015,Monday
321,2015-05-18,9,26,16,3,2,2,18,5,2015,Monday
322,2015-05-18,10,34,16,4,3,3,18,5,2015,Monday
323,2015-05-18,11,18,13,2,6,6,18,5,2015,Monday
324,2015-05-18,12,21,13,3,4,4,18,5,2015,Monday
325,2015-05-18,13,31,11,4,2,2,18,5,2015,Monday
326,2015-05-18,14,31,11,4,2,2,18,5,2015,Monday
327,2015-05-18,15,32,9,4,4,4,18,5,2015,Monday
328,2015-05-18,16,37,8,4,6,6,18,5,2015,Monday
329,2015-05-18,17,37,6,4,6,6,18,5,2015,Monday
330,2015-05-18,18,56,9,7,6,6,18,5,2015,Monday
331,2015-05-18,19,49,9,6,5,5,18,5,2015,Monday
332,2015-05-18,20,34,7,4,2,2,18,5,2015,Monday
333,2015-05-18,21,44,5,5,3,3,18,5,2015,Monday
334,2015-05-18,22,29,6,3,4,4,18,5,2015,Monday
335,2015-05-18,23,46,6,6,5,5,18,5,2015,Monday

In [354]:
df_groupedbyday = df.groupby(df['Date']).sum()
df['Sum orders 18h'] = df['Orders placed'].rolling(18).sum()
df_groupedbyday
# 16/05 is the day with most completed orders

,Time,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Sum orders 18h,Sum orders 8h,Ratio,72h test
Date,,,,,,,,,,,,,
2015-05-05,276,490,180,60,100,93,120,120,48360,490.0,519.0,2.552335,0.000000
2015-05-13,276,685,234,82,102,102,312,120,48360,1916.0,826.0,2.556092,2.575939
2015-05-14,276,531,227,62,143,143,336,120,48360,2057.0,1012.0,2.505486,2.492431
2015-05-15,276,881,346,111,288,288,360,120,48360,3292.0,1766.0,2.777251,2.579406
2015-05-16,276,1254,340,160,392,392,384,120,48360,6825.0,3163.0,2.912236,2.701337
2015-05-17,276,689,252,83,202,202,408,120,48360,6115.0,2270.0,2.969838,2.861055
2015-05-18,276,613,198,72,90,90,432,120,48360,1965.0,772.0,2.613975,2.854905
2015-06-05,276,661,249,80,162,159,120,144,48360,2613.0,1319.0,2.635438,0.000000
2015-07-05,276,507,207,60,115,114,120,168,48360,2332.0,903.0,2.566498,0.107698
2015-08-05,276,857,259,113,185,185,120,192,48360,2436.0,1170.0,2.934007,2.677638
2015-09-05,276,1230,241,169,330,330,120,216,48360,4802.0,2385.0,3.094399,2.798347
2015-10-05,276,665,198,80,166,166,120,240,48360,5078.0,1921.0,2.997864,2.980510
2015-11-05,276,589,212,70,126,126,120,264,48360,2071.0,956.0,2.699890,2.970771
2015-12-05,276,514,182,60,129,129,120,288,48360,2499.0,1071.0,2.410213,2.789102

In [324]:
print(df['Sum orders 18h'].max())
df[df['Sum orders 18h'] == df['Sum orders 18h'].max()]
# 2nd answer 378.0 orders 18h ending the 17/05 at 3 (saturday-Sunday)

378.0

,Date,Time,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Day_Name,Sum orders 18h
291,2015-05-17,3,23,18,3,11,11,17,5,2015,Sunday,378.0

In [325]:
df_groupedbyhour = df.groupby(df['Time']).sum()
df_groupedbyhour
# explore datas aggregated by hour

,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Sum orders 18h
Time,,,,,,,,,
0,441,139,58,170,170,133,98,28210,2009.0
1,337,122,40,124,123,133,98,28210,2084.0
2,271,90,33,128,128,133,98,28210,2157.0
3,135,68,14,63,63,133,98,28210,2166.0
4,63,37,4,37,37,133,98,28210,2148.0
5,67,39,6,42,42,133,98,28210,2119.0
6,123,65,14,56,55,133,98,28210,2093.0
7,203,88,26,50,50,133,98,28210,2058.0
8,271,123,32,57,57,133,98,28210,2016.0
9,371,138,46,54,54,133,98,28210,1973.0
10,393,157,48,56,56,133,98,28210,1922.0
11,423,161,51,75,75,133,98,28210,1875.0
12,419,160,47,81,81,133,98,28210,1813.0
13,463,150,54,83,83,133,98,28210,1714.0
14,493,153,58,99,98,133,98,28210,1676.0
15,467,167,58,99,96,133,98,28210,1634.0
16,491,172,58,110,110,133,98,28210,1543.0
17,569,193,66,126,126,133,98,28210,1510.0
18,689,202,84,147,145,133,98,28210,1487.0
19,735,208,95,184,182,133,98,28210,1547.0
20,605,191,81,135,134,133,98,28210,1554.0
21,735,183,94,140,140,133,98,28210,1631.0
22,715,172,102,202,202,133,98,28210,1796.0
23,687,147,93,212,212,133,98,28210,1966.0

In [326]:
list_of_hours = [5,11,18,14]
df_groupedbyhour.loc[list_of_hours]
# 3nd answer is 4-5 (the hour with less orders in the whole period from the options)

,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Sum orders 18h
Time,,,,,,,,,
5,67,39,6,42,42,133,98,28210,2119.0
11,423,161,51,75,75,133,98,28210,1875.0
18,689,202,84,147,145,133,98,28210,1487.0
14,493,153,58,99,98,133,98,28210,1676.0

In [327]:
df_zerohours = df[df['Zeroes'] != 0]
n_of_zeros = len(df_zerohours)
df_zerohours[df_zerohours['Day_Name'] == 'Friday']

,Date,Time,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Day_Name,Sum orders 18h
24,2015-06-05,0,14,4,2,3,3,5,6,2015,Friday,84.0
25,2015-06-05,1,9,4,1,3,3,5,6,2015,Friday,83.0
26,2015-06-05,2,5,2,1,3,3,5,6,2015,Friday,84.0
30,2015-06-05,6,11,5,1,6,6,5,6,2015,Friday,88.0
31,2015-06-05,7,16,6,2,7,7,5,6,2015,Friday,92.0
32,2015-06-05,8,44,13,5,10,10,5,6,2015,Friday,98.0
33,2015-06-05,9,39,14,5,8,8,5,6,2015,Friday,102.0
34,2015-06-05,10,39,17,5,6,6,5,6,2015,Friday,105.0
35,2015-06-05,11,45,18,5,10,10,5,6,2015,Friday,113.0
36,2015-06-05,12,50,16,6,10,10,5,6,2015,Friday,113.0
37,2015-06-05,13,36,16,4,11,11,5,6,2015,Friday,113.0
38,2015-06-05,14,39,17,5,8,8,5,6,2015,Friday,112.0
39,2015-06-05,15,41,18,5,13,11,5,6,2015,Friday,118.0
40,2015-06-05,16,42,16,5,9,9,5,6,2015,Friday,119.0
41,2015-06-05,17,30,15,4,9,9,5,6,2015,Friday,123.0
42,2015-06-05,18,38,14,5,6,5,5,6,2015,Friday,126.0
43,2015-06-05,19,31,13,4,8,8,5,6,2015,Friday,131.0
44,2015-06-05,20,31,11,4,5,5,5,6,2015,Friday,133.0
45,2015-06-05,21,45,9,5,6,6,5,6,2015,Friday,137.0
46,2015-06-05,22,28,9,3,7,7,5,6,2015,Friday,142.0
47,2015-06-05,23,21,5,3,7,7,5,6,2015,Friday,146.0
240,2015-05-15,0,17,11,2,13,13,15,5,2015,Friday,134.0
241,2015-05-15,1,17,9,2,7,7,15,5,2015,Friday,137.0
242,2015-05-15,2,9,7,1,4,4,15,5,2015,Friday,137.0
243,2015-05-15,3,6,2,1,2,2,15,5,2015,Friday,135.0
245,2015-05-15,5,9,2,1,2,2,15,5,2015,Friday,130.0
246,2015-05-15,6,12,4,1,4,4,15,5,2015,Friday,129.0
247,2015-05-15,7,15,6,2,2,2,15,5,2015,Friday,129.0
248,2015-05-15,8,17,8,2,2,2,15,5,2015,Friday,127.0
249,2015-05-15,9,35,9,4,3,3,15,5,2015,Friday,125.0
250,2015-05-15,10,18,10,2,3,3,15,5,2015,Friday,121.0
251,2015-05-15,11,35,12,4,3,3,15,5,2015,Friday,113.0
252,2015-05-15,12,29,11,3,3,3,15,5,2015,Friday,110.0
253,2015-05-15,13,32,11,4,9,9,15,5,2015,Friday,101.0
254,2015-05-15,14,37,14,4,12,12,15,5,2015,Friday,105.0
255,2015-05-15,15,32,14,4,9,9,15,5,2015,Friday,104.0
256,2015-05-15,16,29,17,3,14,14,15,5,2015,Friday,101.0
257,2015-05-15,17,54,22,6,28,28,15,5,2015,Friday,122.0
258,2015-05-15,18,63,28,8,24,24,15,5,2015,Friday,133.0
259,2015-05-15,19,73,32,9,21,21,15,5,2015,Friday,147.0
260,2015-05-15,20,60,30,7,23,23,15,5,2015,Friday,166.0
261,2015-05-15,21,77,29,9,19,19,15,5,2015,Friday,183.0
262,2015-05-15,22,95,28,17,31,31,15,5,2015,Friday,212.0
263,2015-05-15,23,107,28,15,48,48,15,5,2015,Friday,258.0

In [349]:
df_zerohours['Zeroes']

,Date,Time,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Day_Name,Sum orders 18h
0,2015-05-05,0,14,5,2,3,3,5,5,2015,Tuesday,NaN
1,2015-05-05,1,5,5,1,3,2,5,5,2015,Tuesday,NaN
6,2015-05-05,6,9,5,1,5,4,5,5,2015,Tuesday,NaN
7,2015-05-05,7,16,7,2,4,4,5,5,2015,Tuesday,NaN
8,2015-05-05,8,17,8,2,2,2,5,5,2015,Tuesday,NaN
9,2015-05-05,9,23,8,3,2,2,5,5,2015,Tuesday,NaN
10,2015-05-05,10,19,10,2,3,3,5,5,2015,Tuesday,NaN
11,2015-05-05,11,24,11,3,2,2,5,5,2015,Tuesday,NaN
12,2015-05-05,12,8,10,1,2,2,5,5,2015,Tuesday,NaN
13,2015-05-05,13,17,9,2,3,3,5,5,2015,Tuesday,NaN
14,2015-05-05,14,30,7,4,4,3,5,5,2015,Tuesday,NaN
15,2015-05-05,15,30,11,4,4,3,5,5,2015,Tuesday,NaN
16,2015-05-05,16,30,9,4,3,3,5,5,2015,Tuesday,NaN
17,2015-05-05,17,36,11,4,2,2,5,5,2015,Tuesday,50.0
18,2015-05-05,18,33,13,4,10,9,5,5,2015,Tuesday,57.0
19,2015-05-05,19,44,14,5,11,10,5,5,2015,Tuesday,65.0
20,2015-05-05,20,34,12,4,9,8,5,5,2015,Tuesday,72.0
21,2015-05-05,21,30,7,4,7,7,5,5,2015,Tuesday,77.0
22,2015-05-05,22,40,4,5,8,8,5,5,2015,Tuesday,83.0
23,2015-05-05,23,23,3,3,5,5,5,5,2015,Tuesday,86.0
24,2015-06-05,0,14,4,2,3,3,5,6,2015,Friday,84.0
25,2015-06-05,1,9,4,1,3,3,5,6,2015,Friday,83.0
26,2015-06-05,2,5,2,1,3,3,5,6,2015,Friday,84.0
30,2015-06-05,6,11,5,1,6,6,5,6,2015,Friday,88.0
31,2015-06-05,7,16,6,2,7,7,5,6,2015,Friday,92.0
32,2015-06-05,8,44,13,5,10,10,5,6,2015,Friday,98.0
33,2015-06-05,9,39,14,5,8,8,5,6,2015,Friday,102.0
34,2015-06-05,10,39,17,5,6,6,5,6,2015,Friday,105.0
35,2015-06-05,11,45,18,5,10,10,5,6,2015,Friday,113.0
36,2015-06-05,12,50,16,6,10,10,5,6,2015,Friday,113.0
...,...,...,...,...,...,...,...,...,...,...,...,...
304,2015-05-17,16,40,13,5,10,10,17,5,2015,Sunday,199.0
305,2015-05-17,17,28,14,3,8,8,17,5,2015,Sunday,161.0
306,2015-05-17,18,29,14,3,13,13,17,5,2015,Sunday,140.0
307,2015-05-17,19,26,13,3,8,8,17,5,2015,Sunday,123.0
308,2015-05-17,20,40,9,5,5,5,17,5,2015,Sunday,108.0
309,2015-05-17,21,40,7,5,6,6,17,5,2015,Sunday,103.0
310,2015-05-17,22,21,8,3,4,4,17,5,2015,Sunday,104.0
311,2015-05-17,23,18,5,2,5,5,17,5,2015,Sunday,103.0
312,2015-05-18,0,18,4,2,4,4,18,5,2015,Monday,104.0
313,2015-05-18,1,10,2,1,2,2,18,5,2015,Monday,102.0
314,2015-05-18,2,6,2,1,4,4,18,5,2015,Monday,104.0
317,2015-05-18,5,7,5,1,3,3,18,5,2015,Monday,98.0
318,2015-05-18,6,12,9,1,4,4,18,5,2015,Monday,96.0
319,2015-05-18,7,18,11,2,4,4,18,5,2015,Monday,95.0
320,2015-05-18,8,10,16,1,4,4,18,5,2015,Monday,93.0
321,2015-05-18,9,26,16,3,2,2,18,5,2015,Monday,91.0
322,2015-05-18,10,34,16,4,3,3,18,5,2015,Monday,84.0
323,2015-05-18,11,18,13,2,6,6,18,5,2015,Monday,82.0
324,2015-05-18,12,21,13,3,4,4,18,5,2015,Monday,73.0
325,2015-05-18,13,31,11,4,2,2,18,5,2015,Monday,67.0
326,2015-05-18,14,31,11,4,2,2,18,5,2015,Monday,64.0
327,2015-05-18,15,32,9,4,4,4,18,5,2015,Monday,62.0
328,2015-05-18,16,37,8,4,6,6,18,5,2015,Monday,64.0
329,2015-05-18,17,37,6,4,6,6,18,5,2015,Monday,65.0
330,2015-05-18,18,56,9,7,6,6,18,5,2015,Monday,67.0
331,2015-05-18,19,49,9,6,5,5,18,5,2015,Monday,70.0
332,2015-05-18,20,34,7,4,2,2,18,5,2015,Monday,68.0
333,2015-05-18,21,44,5,5,3,3,18,5,2015,Monday,68.0
334,2015-05-18,22,29,6,3,4,4,18,5,2015,Monday,70.0
335,2015-05-18,23,46,6,6,5,5,18,5,2015,Monday,72.0

In [328]:
zeros_on_friday = df_zerohours['Zeroes'].groupby(df_zerohours['Day_Name']).count().loc['Friday']
print((zeros_on_friday / n_of_zeros*100 ))

14.285714285714285

In [329]:
df_zerohours.groupby(df['Day_Name']).sum()

,Time,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Sum orders 18h
Day_Name,,,,,,,,,,
Friday,536,1532,586,191,441,438,450,241,88660,5521.0
Monday,545,1271,392,152,251,251,516,350,92690,6837.0
Saturday,804,2981,751,389,826,826,583,562,132990,13095.0
Sunday,540,1189,453,143,308,307,513,267,90675,8069.0
Thursday,533,1105,429,132,256,256,404,347,86645,3696.0
Tuesday,262,482,169,60,92,85,100,100,40300,490.0
Wednesday,536,1530,484,195,277,277,388,289,88660,3989.0

In [330]:
(df['Orders placed'] / df['Retailers']).mean()
# The mean of the rate orders/retailers is 0.8359

0.8359236422793159

In [337]:
df['Sum orders 8h'] = df['Orders placed'].rolling(8).sum()
df.groupby(df['Time']).sum()
# worst time shift is 5PM-1AM

,Time,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Sum orders 18h,8 hour shift,Sum orders 8h
Time,,,,,,,,,,,,
0,0,441,139,58,170,170,133,98,28210,2009.0,1282.0,1282.0
1,14,337,122,40,124,123,133,98,28210,2084.0,1283.0,1283.0
2,28,271,90,33,128,128,133,98,28210,2157.0,1268.0,1268.0
3,42,135,68,14,63,63,133,98,28210,2166.0,1150.0,1150.0
4,56,63,37,4,37,37,133,98,28210,2148.0,1052.0,1052.0
5,70,67,39,6,42,42,133,98,28210,2119.0,955.0,955.0
6,84,123,65,14,56,55,133,98,28210,2093.0,808.0,808.0
7,98,203,88,26,50,50,133,98,28210,2058.0,670.0,670.0
8,112,271,123,32,57,57,133,98,28210,2016.0,557.0,557.0
9,126,371,138,46,54,54,133,98,28210,1973.0,487.0,487.0
10,140,393,157,48,56,56,133,98,28210,1922.0,415.0,415.0
11,154,423,161,51,75,75,133,98,28210,1875.0,427.0,427.0
12,168,419,160,47,81,81,133,98,28210,1813.0,471.0,471.0
13,182,463,150,54,83,83,133,98,28210,1714.0,512.0,512.0
14,196,493,153,58,99,98,133,98,28210,1676.0,555.0,555.0
15,210,467,167,58,99,96,133,98,28210,1634.0,604.0,604.0
16,224,491,172,58,110,110,133,98,28210,1543.0,657.0,657.0
17,238,569,193,66,126,126,133,98,28210,1510.0,729.0,729.0
18,252,689,202,84,147,145,133,98,28210,1487.0,820.0,820.0
19,266,735,208,95,184,182,133,98,28210,1547.0,929.0,929.0
20,280,605,191,81,135,134,133,98,28210,1554.0,983.0,983.0
21,294,735,183,94,140,140,133,98,28210,1631.0,1040.0,1040.0
22,308,715,172,102,202,202,133,98,28210,1796.0,1143.0,1143.0
23,322,687,147,93,212,212,133,98,28210,1966.0,1256.0,1256.0

In [347]:
df['Ratio'] = df['Zeroes'] / df['Eyes']
df['72h test'] = df['Ratio'].rolling(72).mean()
df[df['72h test'] == df['72h test'].max()]
# worst 72h slot for zeros/eyes is 02/11 at 2 AM until 05/11 at 2 AM

,Date,Time,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Day_Name,Sum orders 18h,Sum orders 8h,Ratio,72h test
146,2015-11-05,2,5,2,1,3,3,5,11,2015,Thursday,93.0,44.0,0.2,0.126112

In [353]:
df.groupby(df['Time']).mean()
#to check how boost suppliers

,Eyes,Retailers,Zeroes,Orders placed,Completed,Day,Month,Year,Sum orders 18h,Sum orders 8h,Ratio,72h test
Time,,,,,,,,,,,,
0,31.500000,9.928571,4.142857,12.142857,12.142857,9.5,7.0,2015.0,154.538462,98.615385,0.128203,0.113914
1,24.071429,8.714286,2.857143,8.857143,8.785714,9.5,7.0,2015.0,160.307692,98.692308,0.122664,0.113804
2,19.357143,6.428571,2.357143,9.142857,9.142857,9.5,7.0,2015.0,165.923077,97.538462,0.120172,0.113916
3,9.642857,4.857143,1.000000,4.500000,4.500000,9.5,7.0,2015.0,166.615385,88.461538,0.060837,0.114216
4,4.500000,2.642857,0.285714,2.642857,2.642857,9.5,7.0,2015.0,165.230769,80.923077,0.031944,0.114482
5,4.785714,2.785714,0.428571,3.000000,3.000000,9.5,7.0,2015.0,163.000000,73.461538,0.055839,0.114803
6,8.785714,4.642857,1.000000,4.000000,3.928571,9.5,7.0,2015.0,161.000000,62.153846,0.126907,0.114864
7,14.500000,6.285714,1.857143,3.571429,3.571429,9.5,7.0,2015.0,158.307692,47.857143,0.133982,0.114909
8,19.357143,8.785714,2.285714,4.071429,4.071429,9.5,7.0,2015.0,155.076923,39.785714,0.118821,0.114938
9,26.500000,9.857143,3.285714,3.857143,3.857143,9.5,7.0,2015.0,151.769231,34.785714,0.124165,0.114890
10,28.071429,11.214286,3.428571,4.000000,4.000000,9.5,7.0,2015.0,147.846154,29.642857,0.120685,0.114894
11,30.214286,11.500000,3.642857,5.357143,5.357143,9.5,7.0,2015.0,144.230769,30.500000,0.121116,0.114864
12,29.928571,11.428571,3.357143,5.785714,5.785714,9.5,7.0,2015.0,139.461538,33.642857,0.112367,0.114871
13,33.071429,10.714286,3.857143,5.928571,5.928571,9.5,7.0,2015.0,131.846154,36.571429,0.117010,0.114898
14,35.214286,10.928571,4.142857,7.071429,7.000000,9.5,7.0,2015.0,128.923077,39.642857,0.117568,0.114875
15,33.357143,11.928571,4.142857,7.071429,6.857143,9.5,7.0,2015.0,125.692308,43.142857,0.124566,0.114889
16,35.071429,12.285714,4.142857,7.857143,7.857143,9.5,7.0,2015.0,118.692308,46.928571,0.118140,0.114882
17,40.642857,13.785714,4.714286,9.000000,9.000000,9.5,7.0,2015.0,107.857143,52.071429,0.115918,0.114843
18,49.214286,14.428571,6.000000,10.500000,10.357143,9.5,7.0,2015.0,106.214286,58.571429,0.120632,0.114822
19,52.500000,14.857143,6.785714,13.142857,13.000000,9.5,7.0,2015.0,110.500000,66.357143,0.125751,0.114824
20,43.214286,13.642857,5.785714,9.642857,9.571429,9.5,7.0,2015.0,111.000000,70.214286,0.128008,0.114843
21,52.500000,13.071429,6.714286,10.000000,10.000000,9.5,7.0,2015.0,116.500000,74.285714,0.126267,0.114823
22,51.071429,12.285714,7.285714,14.428571,14.428571,9.5,7.0,2015.0,128.285714,81.642857,0.129142,0.114915
23,49.071429,10.500000,6.642857,15.142857,15.142857,9.5,7.0,2015.0,140.428571,89.714286,0.129690,0.114281